<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="header::common"></div>
    <script type="text/javascript" th:src="@{/static/kindeditor/kindeditor.js}"></script>
    <style>
        .center{
            width: 1000px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <form class="center" action="/blog/update" method="post">
        <input type="hidden" name="id" th:value="${blog.id}">
        <div class="form-group">
            <label>博客标题</label>
            <input type="text" th:value="${blog.title}" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label>博客分类</label>
            <select class="form-control" name="typeId">
                <th:block th:each="blogType:${list}">
                    <option th:selected="${blogType.id==blog.typeId}" th:value="${blogType.id}" th:text="${blogType.name}">Java</option>
                </th:block>
            </select>
        </div>
        <div class="form-group">
            <label>状态</label>
            <input type="radio" name="status" value="1" th:checked="|${blog.status==1}|"/>正常
            <input type="radio" name="status" value="0" th:checked="|${blog.status==0}|"/>禁用
        </div>
        <div class="form-group">
            <label>博客封面</label>
            <div class="layui-input-block">
                <div class="layui-upload">
                    <div class="layui-upload-list">
                        <img width="100px" th:src="|/pic/${blog.image}|" height="100px" class="layui-upload-img" id="demo1">
                        <input type="hidden" th:value="${blog.image}" name="image" id="imageId">
                        <p id="demoText"></p>
                    </div>
                    <button type="button" class="layui-btn" id="test1">上传图片</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>博客内容</label>
            <textarea id="content" rows="5" cols="20" class="form-control" style="min-width: 100%" name="content">[[${blog.content}]]</textarea>
        </div>
        <input class="btn btn-lg btn-primary btn-sm" type="submit" value="更新">
    </form>

    <script>

        KindEditor.ready(function() {
            var kindEditorParams = {
                afterBlur: function() {
                    this.sync();

                }
            };

            KindEditor.create('#content', kindEditorParams);
        });

        layui.use(['upload'], function() {
            var upload = layui.upload;

            //常规使用 - 普通图片上传
            var uploadInst = upload.render({
                elem: '#test1'
                ,url: '/upload/uploadImage' //此处用的是第三方的 http 请求演示，实际使用时改成您自己的上传接口即可。
                ,before: function(obj){
                    //预读本地文件示例，不支持ie8
                    obj.preview(function(index, file, result){
                        $('#demo1').attr('src', result); //图片链接（base64）
                    });
                }
                ,done: function(result){
                    if (result.ok) {
                        $('#imageId').val(result.data);
                        $('#demoText').html(''); //置空上传失败的状态
                    } else {
                        mylayer.errorMsg(result.msg);
                    }
                }
                ,error: function(){
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst.upload();
                    });
                }
            });

        });
    </script>


</body>

</html>