<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap-3.4.1-dist/css/bootstrap.css">
</head>
<body>
    <button>普通button</button>
    <button class="btn">（默认样式）Default</button>
    <button class="btn btn-primary">（首选项）Primary</button>
    <button class="btn btn-success">（成功）Success</button>
    <button class="btn btn-warning">（警告）Warning</button>
    <button class="btn btn-danger">（危险）Danger</button>
    <button class="btn btn-link">超链接</button>
</body>
</html>