<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>学生管理系统登陆界面</title>
    <div th:replace="header::common"></div>
    <link rel="stylesheet" href="css/login.css" th:href="@{/static/css/login.css}" media="all"/>
    <style>
        /* 覆盖原框架样式 */
        .layui-elem-quote {
            background-color: inherit !important;
        }

        .layui-input, .layui-select, .layui-textarea {
            background-color: inherit;
            padding-left: 30px;
        }
    </style>
</head>
<body>
<!-- Head -->
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-sm12 layui-col-md12 zyl_mar_01">
            <blockquote class="layui-elem-quote">学生管理系统后台登陆界面</blockquote>
        </div>
    </div>
</div>
<!-- Head End -->

<!-- Carousel -->
<div class="layui-row">
    <div class="layui-col-sm12 layui-col-md12">
        <div class="layui-carousel zyl_login_height" id="zyllogin" lay-filter="zyllogin">
            <div carousel-item="">
                <div>
                    <div class="zyl_login_cont"></div>
                </div>
                <div>
                    <img src="/static/images/01.jpg" th:src="@{/static/images/01.jpg}"/>
                </div>
                <div>
                    <div class="background">
                        <span></span><span></span><span></span>
                        <span></span><span></span><span></span>
                        <span></span><span></span><span></span>
                        <span></span><span></span><span></span>
                    </div>
                </div>
                <div>
                    <img src="/images/03.jpg" th:src="@{/static/images/03.jpg}"/>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->

<!-- Footer -->
<div class="layui-row">
    <div class="layui-col-sm12 layui-col-md12 zyl_center zyl_mar_01">
        © 2019 - luojay学生管理系统登陆登陆界面版权所有
    </div>
</div>
<!-- Footer End -->


<!-- LoginForm -->
<div class="zyl_lofo_main">
    <fieldset class="layui-elem-field layui-field-title zyl_mar_02">
        <legend>欢迎登陆学生管理系统</legend>
    </fieldset>
    <div class="layui-row layui-col-space15">
        <form id="formId" class="layui-form zyl_pad_01" method="post">
            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-form-item">
                    <input type="text" name="name" lay-verify="required|name" autocomplete="off" placeholder="用户名"
                           class="layui-input">
                    <i class="layui-icon layui-icon-username zyl_lofo_icon"></i>
                </div>
            </div>

            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-form-item">
                    <input type="password" name="password" lay-verify="required|pass" autocomplete="off"
                           placeholder="密码" class="layui-input">
                    <i class="layui-icon layui-icon-password zyl_lofo_icon"></i>
                </div>
            </div>
            <div class="layui-col-sm12 layui-col-md12">
                <div class="layui-row">
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <div class="layui-form-item">
                            <input type="text" name="code" id="vercode" lay-verify="required" autocomplete="off" placeholder="验证码" class="layui-input" maxlength="4">
                            <i class="layui-icon layui-icon-vercode zyl_lofo_icon"></i>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <img id="img_validation_code" src="/auth/code" onclick="refresh()" />
                    </div>
                </div>
            </div>
            <div class="layui-col-sm12 layui-col-md12">
                <input class="layui-btn layui-btn-fluid" type="button" onclick="submitForm()" value="立即登录"></input>
            </div>
            <span th:text="${msg}"></span>
        </form>
    </div>
</div>
<!-- LoginForm End -->


<script type="text/javascript" th:src="@{/static/js/jparticle.min.js}"></script>
<!-- ZylVerificationCode Js-->
<script type="text/javascript" th:src="@{/static/js/zylVerificationCode.js}"></script>
<script>
    function refresh() {
        $('#img_validation_code').attr('src', '/auth/code?r=' + Math.random());
    }

    function submitForm() {
        // ajax异步提交表单
        // jquery
        $.post(
            '/user/login',
            $('#formId').serialize(),// {'name':'zhangsan','password':'123'}
            function (result) {
                // 回调函数，后台/user/add处理完之后，会自动调这个回调函数
                // result代表后台返回给前台的数据
                console.log(result);
                // {code: 0, msg: '登录成功', data: null, ok: true}
                if (result.ok) {
                    // layer.msg(
                    //     result.msg,
                    //     {icon: 1, time: 3000}
                    // );
                    // mylayer.okMsg(result.msg); //无提示弹窗
                    // location.href = '/';


                    // 进行权限判断，根据用户类型跳转不同页面
                    // let user=result.data;
                    // if(user.role == 1){
                    //     mylayer.okUrl(result.msg,'/indexAdmin');
                    // }else if(user.role==2){
                    //     mylayer.okUrl(result.msg,'/indexNormal');
                    // }


                    // 默认跳转index.html
                    mylayer.okUrl(result.msg,'/');

                } else {
                    // layer.msg(
                    //     result.msg,
                    //     {icon: 2, time: 3000}
                    // );
                    mylayer.errorMsg(result.msg);
                }
            },
            'json'
        );
    }


    layui.use(['carousel', 'form'], function () {
        var carousel = layui.carousel
            , form = layui.form;

        //自定义验证规则
        form.verify({
            username: function (value) {
                if (value.length < 3) {
                    return '账号至少得3个字符';
                }
            }
            , pass: [/^[\S]{3,6}$/, '密码必须3到6位，且不能出现空格']
            , vercodes: function (value) {
                //获取验证码
                var zylVerCode = $(".zylVerCode").html();
                if (value != zylVerCode) {
                    return '验证码错误（区分大小写）';
                }
            }
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        //设置轮播主体高度
        var zyl_login_height = $(window).height() / 1.3;
        var zyl_car_height = $(".zyl_login_height").css("cssText", "height:" + zyl_login_height + "px!important");


        //Login轮播主体
        carousel.render({
            elem: '#zyllogin'//指向容器选择器
            , width: '100%' //设置容器宽度
            , height: 'zyl_car_height'
            , arrow: 'always' //始终显示箭头
            , anim: 'fade' //切换动画方式
            , autoplay: true //是否自动切换false true
            , arrow: 'hover' //切换箭头默认显示状态||不显示：none||悬停显示：hover||始终显示：always
            , indicator: 'none' //指示器位置||外部：outside||内部：inside||不显示：none
            , interval: '5000' //自动切换时间:单位：ms（毫秒）
        });

        //监听轮播--案例暂未使用
        carousel.on('change(zyllogin)', function (obj) {
            var loginCarousel = obj.index;
        });

        //粒子线条
        $(".zyl_login_cont").jParticle({
            background: "rgba(0,0,0,0)",//背景颜色
            color: "#fff",//粒子和连线的颜色
            particlesNumber: 100,//粒子数量
            //disableLinks:true,//禁止粒子间连线
            //disableMouse:true,//禁止粒子间连线(鼠标)
            particle: {
                minSize: 1,//最小粒子
                maxSize: 3,//最大粒子
                speed: 30,//粒子的动画速度
            }
        });

    });

</script>
</body>
</html>
